# telem_radio Config file
# Any line that does not contain an equals sign is a comment

sample_rate=48000

# Setup the audio levels.  The  digitized audio ranges from -1 to +1
# These values specify the strength of the telemetry with 0.2 the default
one_value=0.5
zero_value=-0.5

# When bits have the same value, ramp the amount up to compensate for HPF in the radio transmitter.  
# Ramp amount is multiplied by the one_value, with 0.1 as the default.
ramp_bits_to_compensate_hpf=1
ramp_amount=0.1
